body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#calculator {
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#display {
    grid-column: 1 / -1;
    height: 40px;
    border: 1px solid #00ff6a;
    text-align: right;
}

button {
    font-size: 16px;
    background-color: #e7e7e7;
}

#equals {
    background-color: green;
}

#clear {
    background-color: red;
}
